
.header {
  padding: 2vw;
  background-color: #FDDA01;
}

.nav {
  padding: 2vw;
  background-color: #FDDA01;
}

.article {
  padding: 2vw;
  background-color: #FDDA01;
}

.ads {
  padding: 2vw;
  background-color: #FDDA01;
}




