.header {
  width: 100%;
  padding: 2vw;
  background-color: #FDDA01;
  flex-basis: 100%;
  margin-bottom: 2vw;
}

p {
	display: inline-block;
	vertical-align: top;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-weight: bold;
}

img {
	width: 8vw;
}